@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #142330a8;
    --text-color: #fffcfcda;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Garante que HTML e body ocupem toda a altura */
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: Inter, sans-serif;
    background-color: black;
    color: white;
}

.Foto_perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* Deixa a borda redonda */
    object-fit: cover;
    /* Faz a imagem se ajustar ao círculo */
    border: 3px solid black;
    /* Borda opcional */
}

/* estilo comum */
image {
    width: 100%;
}

.nome_perfil {
    font: 200;
    font-size: 5rem;
    font-weight: 700;
    display: flex;
}

.container_pdf {
    font-weight: 600;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: rgb(115, 151, 250);
}

/*layouts */
.container {
    min-height: calc(100vh - 10rem);
    /* Garante 100% da altura menos o padding */
    padding: 5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
    background-color: var(--primary-color);
    box-sizing: border-box;
    /* Inclui padding no cálculo de largura/altura */
    border-radius: 1rem;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}

.Foto_perfil {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}

/* Perfil*/
.container_perfil {
    display: flex;
}